[submodule "keccak-cairo"]
	path = contracts/keccak-cairo
	url = git@github.com:marcellobardus/keccak-cairo.git
[submodule "cairo-contracts"]
	path = contracts/cairo-contracts
	url = git@github.com:OpenZeppelin/cairo-contracts.git
