[submodule "cairo-contracts"]
	path = contracts/cairo-contracts
	url = git@github.com:OpenZeppelin/cairo-contracts.git
[submodule "contracts/fossil"]
	path = contracts/fossil
	url = https://github.com/OilerNetwork/fossil
